.product-detail{
    
    width: 100%;
   
}
.product-detail div{
    
    width: 80%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    margin: 0 40px;
}
.product-detail div .box{
    width: 40%;
}
.product-detail div img{
    width: 30%;
}
.product-detail h2{
    margin-top: 20px;
    font-size: 25px;
}
.product-detail p{
    margin-top: 10px;
    font-size: 18px;
    line-height: 30px;
}

@media only screen and  (max-width:550px){
    .product-detail div img{
        width: 60%;
        margin-left: 80px;
    }
    .product-detail div .box{
        width: 80%;
    }
    .product-detail div h2{
        font-size: 20px;
    }
}

@media only screen and  (max-width:380px){
    .product-detail div img{
        width: 70%;
        margin-left: 50px;
    }
    .product-detail div .box{
        width: 100%;
    }
    .product-detail div h2{
        font-size: 20px;
    }
}

@media only screen and  (max-width:650px){
    .product-detail div img{
        width: 40%;
    }
}